
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayOutAdmin.cshtml";
}
<style>
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 50%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #808080;
        }

   
</style>
<div style="width:84.3%; float:right;background-color:lightslategray">
    @using (Html.BeginForm("Create", "QuanLiSanPham", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <label for="fname">Mã Nhà Sản Xuất</label>
        <input type="text" id="fname" name="MaNSX" placeholder="Nhập mã nhà sản xuất ..">

        <label for="lname">Mã Sản Phẩm</label>
        <input type="text" id="lname" name="MaSanPham" placeholder="Nhập mã sản phẩm..">
        <label for="lname">Tên Sản Phẩm</label>
        <input type="text" id="lname" name="TenSanPham" placeholder="Nhập tên của sản phẩm..">
        <label for="lname">Giá sản phẩm</label>
        <input type="text" id="lname" name="Gia" placeholder="Nhập giá của sản phẩm..">
        <label for="lname">Nhập số lượng</label>
        <input type="text" id="lname" name="SoLuong" placeholder="Nhập số lượng sản phẩm..">
        <input type="hidden" id="lname" name="NgayNhap" value="01-01-2017">
        <label for="lname"> hình ảnh</label>
        <input type="file" id="lname" name="HinhAnh">



        <input type="submit" value="Submit">
    }
</div>


